---
swagger: "2.0"
info:
  description: "Convert API lets you effortlessly convert file formats and types."
  version: "v1"
  title: "convertapi"
host: "api.cloudmersive.com"
schemes:
- "https"
paths:
  /convert/compare/docx:
    post:
      tags:
      - "CompareDocument"
      summary: "Compare Two Word DOCX"
      description: "Compare two Office Word Documents (docx) files and highlight the\
        \ differences"
      operationId: "CompareDocument_Docx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile1"
        in: "formData"
        description: "First input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile1"
      - name: "inputFile2"
        in: "formData"
        description: "Second input file to perform the operation on (more than 2 can\
          \ be supplied)."
        required: true
        type: "file"
        x-exportParamName: "InputFile2"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/csv/to/json:
    post:
      tags:
      - "ConvertData"
      summary: "Convert CSV to JSON conversion"
      description: "Convert a CSV file to a JSON object array"
      operationId: "ConvertData_CsvToJson"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "columnNamesFromFirstRow"
        in: "header"
        description: "Optional; If true, the first row will be used as the labels\
          \ for the columns; if false, columns will be named Column0, Column1, etc.\
          \  Default is true.  Set to false if you are not using column headings,\
          \ or have an irregular column structure."
        required: false
        type: "boolean"
        x-exportParamName: "ColumnNamesFromFirstRow"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
      security:
      - Apikey: []
  /convert/csv/to/xml:
    post:
      tags:
      - "ConvertData"
      summary: "Convert CSV to XML conversion"
      description: "Convert a CSV file to a XML file"
      operationId: "ConvertData_CsvToXml"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "columnNamesFromFirstRow"
        in: "header"
        description: "Optional; If true, the first row will be used as the labels\
          \ for the columns; if false, columns will be named Column0, Column1, etc.\
          \  Default is true.  Set to false if you are not using column headings,\
          \ or have an irregular column structure."
        required: false
        type: "boolean"
        x-exportParamName: "ColumnNamesFromFirstRow"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xlsx/to/json:
    post:
      tags:
      - "ConvertData"
      summary: "Convert Excel XLSX to JSON conversion"
      description: "Convert an Excel XLSX file to a JSON object array"
      operationId: "ConvertData_XlsxToJson"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xlsx/to/xml:
    post:
      tags:
      - "ConvertData"
      summary: "Convert Excel XLSX to XML conversion"
      description: "Convert an Excel XLSX file to a XML file"
      operationId: "ConvertData_XlsxToXml"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xls/to/json:
    post:
      tags:
      - "ConvertData"
      summary: "Convert Excel (97-2003) XLS to JSON conversion"
      description: "Convert an Excel (97-2003) XLS file to a JSON object array"
      operationId: "ConvertData_XlsToJson"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
      security:
      - Apikey: []
  /convert/xml/to/json:
    post:
      tags:
      - "ConvertData"
      summary: "Convert XML to JSON conversion"
      description: "Convert an XML string or file into JSON"
      operationId: "ConvertData_XmlToJson"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
      security:
      - Apikey: []
  /convert/xml/select/xpath:
    post:
      tags:
      - "ConvertData"
      summary: "Filter, select XML nodes using XPath expression, get results"
      description: "Return the reuslts of filtering, selecting an XML document with\
        \ an XPath expression"
      operationId: "ConvertData_XmlFilterWithXPath"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "XPathExpression"
        in: "header"
        description: "Valid XML XPath query expression"
        required: true
        type: "string"
        x-exportParamName: "XPathExpression"
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XmlFilterWithXPathResult"
      security:
      - Apikey: []
  /convert/xml/query/xquery:
    post:
      tags:
      - "ConvertData"
      summary: "Query an XML file using XQuery query, get results"
      description: "Return the reuslts of querying a single XML document with an XQuery\
        \ expression.  Supports XQuery 3.1 and earlier.  This API is optimized for\
        \ a single XML document as input.  Provided XML document is automatically\
        \ loaded as the default context; to access elements in the document, simply\
        \ refer to them without a document reference, such as bookstore/book"
      operationId: "ConvertData_XmlQueryWithXQuery"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input XML file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "XQuery"
        in: "header"
        description: "Valid XML XQuery 3.1 or earlier query expression; multi-line\
          \ expressions are supported"
        required: true
        type: "string"
        x-exportParamName: "XQuery"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XmlQueryWithXQueryResult"
      security:
      - Apikey: []
  /convert/xml/query/xquery/multi:
    post:
      tags:
      - "ConvertData"
      summary: "Query multiple XML files using XQuery query, get results"
      description: "Return the reuslts of querying an XML document with an XQuery\
        \ expression.  Supports XQuery 3.1 and earlier.  This API is optimized for\
        \ multiple XML documents as input.  You can refer to the contents of a given\
        \ document by name, for example doc(\"books.xml\") or doc(\"restaurants.xml\"\
        ) if you included two input files named books.xml and restaurants.xml.  If\
        \ input files contain no file name, they will default to file names input1.xml,\
        \ input2.xml and so on."
      operationId: "ConvertData_XmlQueryWithXQueryMulti"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile1"
        in: "formData"
        description: "First input XML file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile1"
      - name: "inputFile2"
        in: "formData"
        description: "Second input XML file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile2"
      - name: "inputFile3"
        in: "formData"
        description: "Third input XML file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile3"
      - name: "inputFile4"
        in: "formData"
        description: "Fourth input XML file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile4"
      - name: "inputFile5"
        in: "formData"
        description: "Fifth input XML file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile5"
      - name: "inputFile6"
        in: "formData"
        description: "Sixth input XML file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile6"
      - name: "inputFile7"
        in: "formData"
        description: "Seventh input XML file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile7"
      - name: "inputFile8"
        in: "formData"
        description: "Eighth input XML file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile8"
      - name: "inputFile9"
        in: "formData"
        description: "Ninth input XML file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile9"
      - name: "inputFile10"
        in: "formData"
        description: "Tenth input XML file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile10"
      - name: "XQuery"
        in: "header"
        description: "Valid XML XQuery 3.1 or earlier query expression; multi-line\
          \ expressions are supported"
        required: true
        type: "string"
        x-exportParamName: "XQuery"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XmlQueryWithXQueryMultiResult"
      security:
      - Apikey: []
  /convert/xml/edit/xpath/set-value:
    post:
      tags:
      - "ConvertData"
      summary: "Sets the value contents of XML nodes matching XPath expression"
      description: "Return the reuslts of editing an XML document by setting the contents\
        \ of all of the nodes that match an input XPath expression.  Supports elements\
        \ and attributes."
      operationId: "ConvertData_XmlEditSetValueWithXPath"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input XML file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "XPathExpression"
        in: "header"
        description: "Valid XML XPath query expression"
        required: true
        type: "string"
        x-exportParamName: "XPathExpression"
      - name: "XmlValue"
        in: "header"
        description: "XML Value to set into the matching XML nodes"
        required: true
        type: "string"
        x-exportParamName: "XmlValue"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XmlSetValueWithXPathResult"
      security:
      - Apikey: []
  /convert/xml/edit/xpath/replace:
    post:
      tags:
      - "ConvertData"
      summary: "Replaces XML nodes matching XPath expression with new node"
      description: "Return the reuslts of editing an XML document by replacing all\
        \ of the nodes that match an input XPath expression with a new XML node expression."
      operationId: "ConvertData_XmlEditReplaceWithXPath"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input XML file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "XPathExpression"
        in: "header"
        description: "Valid XML XPath query expression"
        required: true
        type: "string"
        x-exportParamName: "XPathExpression"
      - name: "XmlNodeReplacement"
        in: "header"
        description: "XML Node replacement content"
        required: true
        type: "string"
        x-exportParamName: "XmlNodeReplacement"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XmlReplaceWithXPathResult"
      security:
      - Apikey: []
  /convert/xml/edit/xpath/add-child:
    post:
      tags:
      - "ConvertData"
      summary: "Adds an XML node as a child to XML nodes matching XPath expression"
      description: "Return the reuslts of editing an XML document by adding an XML\
        \ node as a child to all of the nodes that match an input XPath expression."
      operationId: "ConvertData_XmlEditAddChildWithXPath"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input XML file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "XPathExpression"
        in: "header"
        description: "Valid XML XPath query expression"
        required: true
        type: "string"
        x-exportParamName: "XPathExpression"
      - name: "XmlNodeToAdd"
        in: "header"
        description: "XML Node to add as a child"
        required: true
        type: "string"
        x-exportParamName: "XmlNodeToAdd"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XmlAddChildWithXPathResult"
      security:
      - Apikey: []
  /convert/xml/edit/xpath/add-attribute:
    post:
      tags:
      - "ConvertData"
      summary: "Adds an attribute to all XML nodes matching XPath expression"
      description: "Return the reuslts of editing an XML document by adding an attribute\
        \ to all of the nodes that match an input XPath expression."
      operationId: "ConvertData_XmlEditAddAttributeWithXPath"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input XML file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "XPathExpression"
        in: "header"
        description: "Valid XML XPath query expression"
        required: true
        type: "string"
        x-exportParamName: "XPathExpression"
      - name: "XmlAttributeName"
        in: "header"
        description: "Name of the XML attribute to add"
        required: true
        type: "string"
        x-exportParamName: "XmlAttributeName"
      - name: "XmlAttributeValue"
        in: "header"
        description: "Value of the XML attribute to add"
        required: true
        type: "string"
        x-exportParamName: "XmlAttributeValue"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XmlAddAttributeWithXPathResult"
      security:
      - Apikey: []
  /convert/xml/edit/xpath/remove:
    post:
      tags:
      - "ConvertData"
      summary: "Remove, delete XML nodes and items matching XPath expression"
      description: "Return the reuslts of editing an XML document by removing all\
        \ of the nodes that match an input XPath expression"
      operationId: "ConvertData_XmlRemoveWithXPath"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "XPathExpression"
        in: "header"
        description: "Valid XML XPath query expression"
        required: true
        type: "string"
        x-exportParamName: "XPathExpression"
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XmlRemoveWithXPathResult"
      security:
      - Apikey: []
  /convert/xml/edit/xpath/remove-all-children:
    post:
      tags:
      - "ConvertData"
      summary: "Removes, deletes all children of nodes matching XPath expression,\
        \ but does not remove the nodes"
      description: "Return the reuslts of editing an XML document by removing all\
        \ child nodes of the nodes that match an input XPath expression."
      operationId: "ConvertData_XmlEditRemoveAllChildNodesWithXPath"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input XML file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "XPathExpression"
        in: "header"
        description: "Valid XML XPath query expression"
        required: true
        type: "string"
        x-exportParamName: "XPathExpression"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XmlRemoveAllChildrenWithXPathResult"
      security:
      - Apikey: []
  /convert/xml/transform/xslt/to/xml:
    post:
      tags:
      - "ConvertData"
      summary: "Transform XML document file with XSLT into a new XML document"
      description: "Convert an XML string or file into JSON"
      operationId: "ConvertData_XmlTransformWithXsltToXml"
      consumes: []
      produces:
      - "application/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input XML file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "transformFile"
        in: "formData"
        description: "Input XSLT file to use to transform the input XML file."
        required: true
        type: "file"
        x-exportParamName: "TransformFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/json/to/xml:
    post:
      tags:
      - "ConvertData"
      summary: "Convert JSON to XML conversion"
      description: "Convert a JSON object into XML"
      operationId: "ConvertData_JsonToXml"
      consumes:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/xml"
      parameters:
      - in: "body"
        name: "JsonObject"
        description: "Input JSON to convert to XML"
        required: true
        schema:
          type: "object"
        x-exportParamName: "JsonObject"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/docx/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOCX Document to PDF"
      description: "Convert Office Word Documents (docx) to standard PDF"
      operationId: "ConvertDocument_DocxToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/docx/to/txt:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOCX Document to Text (txt)"
      description: "Convert Office Word Documents (docx) to text"
      operationId: "ConvertDocument_DocxToTxt"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "textFormattingMode"
        in: "header"
        description: "Optional; specify how whitespace should be handled when converting\
          \ the document to text.  Possible values are 'preserveWhitespace' which\
          \ will attempt to preserve whitespace in the document and relative positioning\
          \ of text within the document, and 'minimizeWhitespace' which will not insert\
          \ additional spaces into the document in most cases.  Default is 'minimizeWhitespace'."
        required: false
        type: "string"
        x-exportParamName: "TextFormattingMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TextConversionResult"
      security:
      - Apikey: []
  /convert/docx/to/rtf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOCX Document to RTF"
      description: "Convert an Office Word Document (DOCX) to Rich Text Format Document\
        \ (RTF)"
      operationId: "ConvertDocument_DocxToRtf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/docx/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOCX Document to PNG image array"
      description: "Converts an Office Word Document (DOCX) file to an array of PNG\
        \ images, one for each page."
      operationId: "ConvertDocument_DocxToPng"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DocxToPngResult"
      security:
      - Apikey: []
  /convert/docx/to/jpg:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOCX Document to JPG/JPEG image array"
      description: "Converts an Office Word Document (DOCX) to an array of JPG/JPEG\
        \ images, one for each page. Customize image quality using quality header."
      operationId: "ConvertDocument_DocxToJpg"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "quality"
        in: "header"
        description: "Optional; Set the JPEG quality level; lowest quality is 1 (highest\
          \ compression), highest quality (lowest compression) is 100; recommended\
          \ value is 75. Default value is 75."
        required: false
        type: "integer"
        x-exportParamName: "Quality"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DocxToJpgResult"
      security:
      - Apikey: []
  /convert/docx/to/html:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOCX Document to HTML Document"
      description: "Convert Office Word Document (DOCX) to HTML Document"
      operationId: "ConvertDocument_DocxToHtml"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/doc/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOC (97-03) Document to PDF"
      description: "Convert Office Word (97-2003 Format) Documents (doc) to standard\
        \ PDF"
      operationId: "ConvertDocument_DocToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/doc/to/docx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOC (97-03) Document to DOCX"
      description: "Convert/upgrade Office Word (97-2003 Format) Documents (doc) to\
        \ the modern DOCX format"
      operationId: "ConvertDocument_DocToDocx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/docx/to/doc:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOCX Document to Legacy Word DOC (97-03)"
      description: "Convert/downgrade modern Office Word DOCX Documents (DOCX) to\
        \ the legacy Word DOC (97-2003 Format) format"
      operationId: "ConvertDocument_DocxToDoc"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xlsx/to/xls:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLSX Spreadsheet to Legacy Excel XLS (97-03)"
      description: "Convert/downgrade modern Office Excel XLSX Spreadsheet to the\
        \ legacy Excel XLS (97-2003 Format) format"
      operationId: "ConvertDocument_XlsxToXls"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/pptx/to/ppt:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PowerPoint PPTX presentation to Legacy PowerPoint PPT (97-03)"
      description: "Convert/downgrade modern Office PowerPoint PPTX Presentation to\
        \ the legacy PowerPoint PPT (97-2003 Format) format"
      operationId: "ConvertDocument_PptxToPpt"
      consumes: []
      produces:
      - "application/octet-stream"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
      security:
      - Apikey: []
  /convert/doc/to/txt:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Word DOC (97-03) Document to Text (txt)"
      description: "Convert Office Word DOC (97-03) Document (doc) to text"
      operationId: "ConvertDocument_DocToTxt"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TextConversionResult"
      security:
      - Apikey: []
  /convert/pptx/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PowerPoint PPTX Presentation to PDF"
      description: "Convert Office PowerPoint Documents (pptx) to standard PDF"
      operationId: "ConvertDocument_PptxToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/pptx/to/txt:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PowerPoint PPTX Presentation to Text (txt)"
      description: "Convert Office PowerPoint Documents (pptx) to standard Text"
      operationId: "ConvertDocument_PptxToTxt"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TextConversionResult"
      security:
      - Apikey: []
  /convert/pptx/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PowerPoint PPTX to PNG image array"
      description: "Converts a PowerPoint Presentation (PPTX) file to an array of\
        \ PNG images, one for each page."
      operationId: "ConvertDocument_PptxToPng"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PptxToPngResult"
      security:
      - Apikey: []
  /convert/ppt/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PowerPoint PPT (97-03) Presentation to PDF"
      description: "Convert Office PowerPoint (97-2003) Documents (ppt) to standard\
        \ PDF"
      operationId: "ConvertDocument_PptToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/ppt/to/pptx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PowerPoint PPT (97-03) Presentation to PPTX"
      description: "Convert/upgrade Office PowerPoint (97-2003) Documents (ppt) to\
        \ modern PPTX"
      operationId: "ConvertDocument_PptToPptx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xlsx/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLSX Spreadsheet to PDF"
      description: "Convert Office Excel Workbooks (XLSX) to standard PDF.  Converts\
        \ all worksheets in the workbook to PDF.  Supports both XLSX and XLSB Excel\
        \ file formats."
      operationId: "ConvertDocument_XlsxToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xlsx/to/txt:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLSX Spreadsheet to Text (txt)"
      description: "Convert Office Excel Workbooks (XLSX) to standard Text.  Converts\
        \ all worksheets in the workbook to Text.  Supports both XLSX and XLSB file\
        \ formats.  When a spreadsheet contains multiple worksheets, will export all\
        \ of the text from all of the worksheets.  If you wish to export the text\
        \ from only one worksheet, try using the Split XLSX API to split the spreadsheet\
        \ into multiple worksheet files, and then run XLSX to Text on the individual\
        \ worksheet file that you need to extract the text from."
      operationId: "ConvertDocument_XlsxToTxt"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TextConversionResult"
      security:
      - Apikey: []
  /convert/xlsx/to/html:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLSX Spreadsheet to HTML Document"
      description: "Convert Office Excel Spreadsheet (XLSX) to HTML Document.  Converts\
        \ all worksheets to HTML.  Supports both XLSX and XLSB Excel file formats."
      operationId: "ConvertDocument_XlsxToHtml"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xls/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLS (97-03) Spreadsheet to PDF"
      description: "Convert Office Excel (97-2003) Workbooks (xls) to standard PDF.\
        \  Converts all worksheets in the workbook to PDF."
      operationId: "ConvertDocument_XlsToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xls/to/xlsx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLS (97-03) Spreadsheet to XLSX"
      description: "Convert/upgrade Office Excel (97-2003) Workbooks (xls) to modern\
        \ XLSX format."
      operationId: "ConvertDocument_XlsToXlsx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xls/to/csv:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLS (97-03) Spreadsheet to CSV"
      description: "Convert/upgrade Office Excel (97-2003) Workbooks (xls) to standard\
        \ CSV format."
      operationId: "ConvertDocument_XlsToCsv"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/csv/to/xlsx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert CSV to Excel XLSX Spreadsheet"
      description: "Convert CSV file to Office Excel XLSX Workbooks file format."
      operationId: "ConvertDocument_CsvToXlsx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/csv/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert CSV to PDF document"
      description: "Convert Comma-Separated Values (CSV) file to PDF document."
      operationId: "ConvertDocument_CsvToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/csv/to/html:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert CSV to HTML document"
      description: "Convert Comma-Separated Values (CSV) file to HTML document."
      operationId: "ConvertDocument_CsvToHtml"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/csv/multi/to/xlsx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Multiple CSV Files into a Single XLSX Spreadsheet"
      description: "Convert multiple Comma-Separated Values (CSV) files into a single\
        \ Excel XLSX Spreadsheet, with one worksheet corresponding to each CSV file."
      operationId: "ConvertDocument_CsvMultiToXlsx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile1"
        in: "formData"
        description: "First input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile1"
      - name: "inputFile2"
        in: "formData"
        description: "Second input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile2"
      - name: "inputFile3"
        in: "formData"
        description: "Third input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile3"
      - name: "inputFile4"
        in: "formData"
        description: "Fourth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile4"
      - name: "inputFile5"
        in: "formData"
        description: "Fifth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile5"
      - name: "inputFile6"
        in: "formData"
        description: "Sixth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile6"
      - name: "inputFile7"
        in: "formData"
        description: "Seventh input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile7"
      - name: "inputFile8"
        in: "formData"
        description: "Eighth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile8"
      - name: "inputFile9"
        in: "formData"
        description: "Ninth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile9"
      - name: "inputFile10"
        in: "formData"
        description: "Tenth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile10"
      - name: "worksheetNames"
        in: "header"
        description: "Optional; Specify the name of each CSV's worksheet in order,\
          \ separated with commas (e.g. \"worksheet1,worksheet2,worksheet3\"). Defaults\
          \ to the names of the input CSV files. Recommended when inputting the files\
          \ directly, without file names."
        required: false
        type: "string"
        x-exportParamName: "WorksheetNames"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xlsx/to/csv:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLSX Spreadsheet to CSV, Single Worksheet"
      description: "Convert Office Excel Workbooks (XLSX) to standard Comma-Separated\
        \ Values (CSV) format.  Supports both XLSX and XLSB file Excel formats.  If\
        \ the input file contains multiple worksheets, the first one is used.  If\
        \ you wish to convert all of the worksheets (not just the first one), be sure\
        \ to use the xlsx/to/csv/multi API."
      operationId: "ConvertDocument_XlsxToCsv"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "outputEncoding"
        in: "header"
        description: "Optional, set the output text encoding for the result; possible\
          \ values are UTF-8, ASCII and UTF-32.  Default is UTF-8."
        required: false
        type: "string"
        x-exportParamName: "OutputEncoding"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/xlsx/to/csv/multi:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLSX Spreadsheet to CSV, Multiple Worksheets"
      description: "Convert Office Excel Workbooks (XLSX) to standard Comma-Separated\
        \ Values (CSV) format, with support for multiple worksheets.  Supports both\
        \ XLSX and XLSB file Excel formats.  Returns multiple CSV files, one for each\
        \ worksheet (tab) in the spreadsheet."
      operationId: "ConvertDocument_XlsxToCsvMulti"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "outputEncoding"
        in: "header"
        description: "Optional, set the output text encoding for the result; possible\
          \ values are UTF-8, ASCII and UTF-32.  Default is UTF-8."
        required: false
        type: "string"
        x-exportParamName: "OutputEncoding"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/CsvCollection"
      security:
      - Apikey: []
  /convert/xlsx/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Excel XLSX spreadsheet to PNG image array"
      description: "Converts an Excel Spreadsheet (XLSX) file to an array of PNG images,\
        \ one for each page."
      operationId: "ConvertDocument_XlsxToPng"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XlsxToPngResult"
      security:
      - Apikey: []
  /convert/html/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert HTML document file to PDF Document"
      description: "Convert standard HTML, with full support for CSS, JavaScript,\
        \ Images, and other complex behavior to PDF.  To use external files such as\
        \ images, use an absolute URL to the file."
      operationId: "ConvertDocument_HtmlToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "includeBackgroundGraphics"
        in: "header"
        description: "Optional: Set to true to include background graphics in the\
          \ PDF, or false to not include.  Default is true."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeBackgroundGraphics"
        x-optionalDataType: "Bool"
      - name: "scaleFactor"
        in: "header"
        description: "Optional: Set to 100 to scale at 100%, set to 50% to scale down\
          \ to 50% scale, set to 200% to scale up to 200% scale, etc.  Default is\
          \ 100%. Maximum is 1000%."
        required: false
        type: "integer"
        x-exportParamName: "ScaleFactor"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/html/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert HTML document file to PNG image array"
      description: "Convert standard HTML, with full support for CSS, JavaScript,\
        \ Images, and other complex behavior to an array of PNG images, one for each\
        \ page.  To use external files in your HTML such as images, use an absolute\
        \ URL to the file."
      operationId: "ConvertDocument_HtmlToPng"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PdfToPngResult"
      security:
      - Apikey: []
  /convert/html/to/txt:
    post:
      tags:
      - "ConvertDocument"
      summary: "HTML Document file to Text (txt)"
      description: "HTML document to text"
      operationId: "ConvertDocument_HtmlToTxt"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TextConversionResult"
      security:
      - Apikey: []
  /convert/autodetect/get-info:
    post:
      tags:
      - "ConvertDocument"
      summary: "Get document type information"
      description: "Auto-detects a document's type information; does not require file\
        \ extension.  Analyzes file contents to confirm file type.  Even if no file\
        \ extension is present, the auto-detect system will reliably analyze the contents\
        \ of the file and identify its file type.  Supports over 100 image file formats,\
        \ Office document file formats, PDF, and more."
      operationId: "ConvertDocument_AutodetectGetInfo"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AutodetectGetInfoResult"
      security:
      - Apikey: []
  /convert/autodetect/get-icon/advanced:
    post:
      tags:
      - "ConvertDocument"
      summary: "Get PNG icon byte array for the file extension"
      description: "Returns a PNG icon for the given file format extension directly\
        \ as a byte array. User may specify the icon size. Supports over 100 file\
        \ formats, with a generic icon for unsupported formats."
      operationId: "ConvertDocument_GetFileTypeIconAdvanced"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "fileExtension"
        in: "header"
        description: "Required; The file extension to be used for the icon. Limited\
          \ to 4 AlphaNumeric characters."
        required: true
        type: "string"
        x-exportParamName: "FileExtension"
      - name: "iconSize"
        in: "header"
        description: "Optional; The desired width of the icon, preserving its aspect\
          \ ratio."
        required: false
        type: "integer"
        x-exportParamName: "IconSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/GetFileTypeIconResult"
      security:
      - Apikey: []
  /convert/autodetect/get-icon:
    post:
      tags:
      - "ConvertDocument"
      summary: "Get PNG icon file for the file extension"
      description: "Returns a PNG icon for the given file format extension as a file\
        \ for download. User may specify the icon size. Supports over 100 file formats,\
        \ with a generic icon for unsupported formats."
      operationId: "ConvertDocument_GetFileTypeIcon"
      consumes: []
      produces:
      - "application/octet-stream"
      parameters:
      - name: "fileExtension"
        in: "header"
        description: "Required; The file extension to be used for the icon. Limited\
          \ to 4 AlphaNumeric characters."
        required: true
        type: "string"
        x-exportParamName: "FileExtension"
      - name: "iconSize"
        in: "header"
        description: "Optional; The desired width of the icon, preserving its aspect\
          \ ratio."
        required: false
        type: "integer"
        x-exportParamName: "IconSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/autodetect/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Document to PDF"
      description: "Automatically detect file type and convert it to PDF.  Supports\
        \ all of the major Office document file formats including Word (DOCX, DOC),\
        \ Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats, HTML\
        \ files, and even multi-page TIFF files."
      operationId: "ConvertDocument_AutodetectToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/autodetect/to/txt:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Document to Text (txt)"
      description: "Automatically detect file type and convert it to Text.  Supports\
        \ all of the major Office document file formats including Word (DOCX, DOC),\
        \ Excel (XLSX, XLS), PowerPoint (PPTX, PPT) and PDF files.  For spreadsheets,\
        \ all worksheets will be included.  If you wish to exclude certain pages,\
        \ worksheets, slides, etc. use the Split document API first, or the delete\
        \ pages/slides/worksheet APIs first to adjust the document to the target state\
        \ prior to converting to text."
      operationId: "ConvertDocument_AutodetectToTxt"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "textFormattingMode"
        in: "header"
        description: "Optional; specify how whitespace should be handled when converting\
          \ the document to text.  Possible values are 'preserveWhitespace' which\
          \ will attempt to preserve whitespace in the document and relative positioning\
          \ of text within the document, and 'minimizeWhitespace' which will not insert\
          \ additional spaces into the document in most cases.  Default is 'preserveWhitespace'."
        required: false
        type: "string"
        x-exportParamName: "TextFormattingMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TextConversionResult"
      security:
      - Apikey: []
  /convert/autodetect/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Document to PNG array"
      description: "Automatically detect file type and convert it to an array of PNG\
        \ images.  Supports all of the major Office document file formats, over 100\
        \ image formats, and even multi-page TIFF files."
      operationId: "ConvertDocument_AutodetectToPngArray"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AutodetectToPngResult"
      security:
      - Apikey: []
  /convert/autodetect/to/jpg:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Document to JPG/JPEG image array"
      description: "Automatically detect file type and convert it to an array of JPG/JPEG\
        \ Images.  Supports all of the major Office document file formats including\
        \ Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image\
        \ formats, HTML files, and even multi-page TIFF files. Customize image quality\
        \ using quality header."
      operationId: "ConvertDocument_AutodetectToJpg"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "quality"
        in: "header"
        description: "Optional; Set the JPEG quality level; lowest quality is 1 (highest\
          \ compression), highest quality (lowest compression) is 100; recommended\
          \ value is 75. Default value is 75."
        required: false
        type: "integer"
        x-exportParamName: "Quality"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AutodetectToJpgResult"
      security:
      - Apikey: []
  /convert/autodetect/to/thumbnail/advanced:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert File to Thumbnail Image Object"
      description: "Automatically detect file type and convert it to an array of PNG\
        \ thumbnails, returned as an object. May specify the number of pages for multiple\
        \ thumbnails; default is one thumbnail. Supports all of the major Office document\
        \ file formats including Word (DOCX, DOC), Excel (XLSX, XLS), PowerPoint (PPTX,\
        \ PPT), over 100 image formats, HTML files, and even multi-page TIFF files.\
        \ Returns a generic PNG thumbnail for unsupported formats. Maximum thumbnail\
        \ size is 2048x2048."
      operationId: "ConvertDocument_AutodetectToThumbnailsAdvanced"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "pages"
        in: "header"
        description: "Optional; Specify how many pages of the document will be converted\
          \ to thumbnails. Default is 1 page."
        required: false
        type: "integer"
        x-exportParamName: "Pages"
        x-optionalDataType: "Int32"
      - name: "maxWidth"
        in: "header"
        description: "Optional; Maximum width of the output thumbnail - final image\
          \ will be as large as possible while less than or equal to this width. Default\
          \ is 128."
        required: false
        type: "integer"
        x-exportParamName: "MaxWidth"
        x-optionalDataType: "Int32"
      - name: "maxHeight"
        in: "header"
        description: "Optional; Maximum height of the output thumbnail - final image\
          \ will be as large as possible while less than or equal to this width. Default\
          \ is 128."
        required: false
        type: "integer"
        x-exportParamName: "MaxHeight"
        x-optionalDataType: "Int32"
      - name: "extension"
        in: "header"
        description: "Optional; Specify the file extension of the inputFile. This\
          \ will improve the response time in most cases. Also allows unsupported\
          \ files without extensions to still return a corresponding generic icon."
        required: false
        type: "string"
        x-exportParamName: "Extension"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AutodetectToThumbnailsResult"
      security:
      - Apikey: []
  /convert/autodetect/to/thumbnail:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert File to Thumbnail Image"
      description: "Automatically detect file type and convert it to a PNG thumbnail.\
        \ Supports all of the major Office document file formats including Word (DOCX,\
        \ DOC), Excel (XLSX, XLS), PowerPoint (PPTX, PPT), over 100 image formats,\
        \ HTML files, and even multi-page TIFF files. Returns a generic PNG thumbnail\
        \ for unsupported formats. Maximum thumbnail size is 2048x2048."
      operationId: "ConvertDocument_AutodetectToThumbnail"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "maxWidth"
        in: "header"
        description: "Optional; Maximum width of the output thumbnail - final image\
          \ will be as large as possible while less than or equal to this width. Default\
          \ is 128."
        required: false
        type: "integer"
        x-exportParamName: "MaxWidth"
        x-optionalDataType: "Int32"
      - name: "maxHeight"
        in: "header"
        description: "Optional; Maximum height of the output thumbnail - final image\
          \ will be as large as possible while less than or equal to this width. Default\
          \ is 128."
        required: false
        type: "integer"
        x-exportParamName: "MaxHeight"
        x-optionalDataType: "Int32"
      - name: "extension"
        in: "header"
        description: "Optional; Specify the file extension of the inputFile. This\
          \ will improve the response time in most cases. Also allows unsupported\
          \ files without extensions to still return a corresponding generic icon."
        required: false
        type: "string"
        x-exportParamName: "Extension"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/pdf/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PDF to PNG Image Array"
      description: "Convert PDF document to PNG array, one image per page."
      operationId: "ConvertDocument_PdfToPngArray"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PdfToPngResult"
      security:
      - Apikey: []
  /convert/pdf/to/jpg:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PDF to JPG/JPEG image array"
      description: "Converts a PDF Document to an array of JPG/JPEG images, one for\
        \ each page. Customize image quality using quality header."
      operationId: "ConvertDocument_PdfToJpg"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "quality"
        in: "header"
        description: "Optional; Set the JPEG quality level; lowest quality is 1 (highest\
          \ compression), highest quality (lowest compression) is 100; recommended\
          \ value is 75. Default value is 75."
        required: false
        type: "integer"
        x-exportParamName: "Quality"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PdfToJpgResult"
      security:
      - Apikey: []
  /convert/png/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PNG Array to PDF"
      description: "Convert an array of PNG images, one image per page, into a newly-created\
        \ PDF.  Supports images of different sizes as input."
      operationId: "ConvertDocument_PngArrayToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile1"
        in: "formData"
        description: "First input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile1"
      - name: "inputFile2"
        in: "formData"
        description: "Second input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile2"
      - name: "inputFile3"
        in: "formData"
        description: "Third input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile3"
      - name: "inputFile4"
        in: "formData"
        description: "Fourth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile4"
      - name: "inputFile5"
        in: "formData"
        description: "Fifth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile5"
      - name: "inputFile6"
        in: "formData"
        description: "Sixth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile6"
      - name: "inputFile7"
        in: "formData"
        description: "Seventh input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile7"
      - name: "inputFile8"
        in: "formData"
        description: "Eighth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile8"
      - name: "inputFile9"
        in: "formData"
        description: "Ninth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile9"
      - name: "inputFile10"
        in: "formData"
        description: "Tenth input file to perform the operation on."
        required: false
        type: "file"
        x-exportParamName: "InputFile10"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/pdf/to/png/merge-single:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PDF to Single PNG image"
      description: "Convert PDF document to a single tall PNG image, by stacking/concatenating\
        \ the images vertically into a single \"tall\" image"
      operationId: "ConvertDocument_PdfToPngSingle"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/pdf/to/txt:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PDF Document to Text (txt)"
      description: "PDF document to text"
      operationId: "ConvertDocument_PdfToTxt"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "textFormattingMode"
        in: "header"
        description: "Optional; specify how whitespace should be handled when converting\
          \ PDF to text.  Possible values are 'preserveWhitespace' which will attempt\
          \ to preserve whitespace in the document and relative positioning of text\
          \ within the document, and 'minimizeWhitespace' which will not insert additional\
          \ spaces into the document in most cases.  Default is 'preserveWhitespace'."
        required: false
        type: "string"
        x-exportParamName: "TextFormattingMode"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TextConversionResult"
      security:
      - Apikey: []
  /convert/pdf/to/docx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PDF to Word DOCX Document"
      description: "Convert standard PDF to Office Word Documents (docx).    Converts\
        \ a PDF at high fidelity into Word format, where it can be easily edited and\
        \ processed."
      operationId: "ConvertDocument_PdfToDocx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/pdf/to/docx/rasterize:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PDF to Word DOCX Document based on rasterized version of the\
        \ PDF"
      description: "Convert standard PDF to Office Word Documents (docx), but first\
        \ rasterize the PDF.    Converts a PDF at high fidelity into Word format."
      operationId: "ConvertDocument_PdfToDocxRasterize"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/pdf/to/pptx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert PDF to PowerPoint PPTX Presentation"
      description: "Convert standard PDF to Office PowerPoint Presentation (pptx).\
        \  Converts a PDF file at high fidelity into PowerPoint format, where it can\
        \ be easily edited and processed."
      operationId: "ConvertDocument_PdfToPptx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/eml/to/html:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Email EML file to HTML string"
      description: "Convert Outlook Email EML file to HTML string and attachments.\
        \ Supports images if they are base 64 inline."
      operationId: "ConvertDocument_EmlToHtml"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "bodyOnly"
        in: "header"
        description: "Optional; If true, the HTML string will only include the body\
          \ of the email. Other information such as subject will still be given as\
          \ properties in the response object. Default is false."
        required: false
        type: "boolean"
        x-exportParamName: "BodyOnly"
        x-optionalDataType: "Bool"
      - name: "includeAttachments"
        in: "header"
        description: "Optional; If false, the response object will not include any\
          \ attachment files from the input file. Default is true."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeAttachments"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/EmlToHtmlResult"
      security:
      - Apikey: []
  /convert/eml/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Email EML file to PDF document"
      description: "Convert Outlook Email EML file to PDF document. Supports images\
        \ if they are base 64 inline."
      operationId: "ConvertDocument_EmlToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "bodyOnly"
        in: "header"
        description: "Optional; If true, the HTML string will only include the body\
          \ of the email. Other information such as subject will still be given as\
          \ properties in the response object. Default is false."
        required: false
        type: "boolean"
        x-exportParamName: "BodyOnly"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/eml/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Email EML file to PNG image array"
      description: "Converts an Outlook Email File (EML) to an array of PNG images,\
        \ one for each page."
      operationId: "ConvertDocument_EmlToPng"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/EmlToPngResult"
      security:
      - Apikey: []
  /convert/eml/to/jpg:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Email EML file to JPG/JPEG image array"
      description: "Converts an Outlook Email File (EML) to an array of JPG/JPEG images,\
        \ one for each page. Customize image quality using quality header."
      operationId: "ConvertDocument_EmlToJpg"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "quality"
        in: "header"
        description: "Optional; Set the JPEG quality level; lowest quality is 1 (highest\
          \ compression), highest quality (lowest compression) is 100; recommended\
          \ value is 75. Default value is 75."
        required: false
        type: "integer"
        x-exportParamName: "Quality"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/EmlToJpgResult"
      security:
      - Apikey: []
  /convert/msg/to/html:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Email MSG file to HTML string"
      description: "Convert Outlook Email MSG file to HTML string and attachments.\
        \ Supports images if they are base 64 inline. Supports most, but not all,\
        \ RTF bodied MSG files."
      operationId: "ConvertDocument_MsgToHtml"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "bodyOnly"
        in: "header"
        description: "Optional; If true, the HTML string will only include the body\
          \ of the MSG. Other information such as subject will still be given as properties\
          \ in the response object. Default is false."
        required: false
        type: "boolean"
        x-exportParamName: "BodyOnly"
        x-optionalDataType: "Bool"
      - name: "includeAttachments"
        in: "header"
        description: "Optional; If false, the response object will not include any\
          \ attachment files from the input file. Default is true."
        required: false
        type: "boolean"
        x-exportParamName: "IncludeAttachments"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MsgToHtmlResult"
      security:
      - Apikey: []
  /convert/msg/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Email MSG file to PDF document"
      description: "Convert Outlook Email MSG file to PDF document. Supports images\
        \ if they are base 64 inline. Supports most, but not all, RTF bodied MSG files."
      operationId: "ConvertDocument_MsgToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "bodyOnly"
        in: "header"
        description: "Optional; If true, the HTML string will only include the body\
          \ of the email. Other information such as subject will still be given as\
          \ properties in the response object. Default is false."
        required: false
        type: "boolean"
        x-exportParamName: "BodyOnly"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/msg/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Email MSG file to PNG image array"
      description: "Converts an Outlook Email Message File (MSG) to an array of PNG\
        \ images, one for each page."
      operationId: "ConvertDocument_MsgToPng"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MsgToPngResult"
      security:
      - Apikey: []
  /convert/msg/to/jpg:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert Email MSG file to JPG/JPEG image array"
      description: "Converts an Outlook Message File (MSG) to an array of JPG/JPEG\
        \ images, one for each page. Customize image quality using quality header."
      operationId: "ConvertDocument_MsgToJpg"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "quality"
        in: "header"
        description: "Optional; Set the JPEG quality level; lowest quality is 1 (highest\
          \ compression), highest quality (lowest compression) is 100; recommended\
          \ value is 75. Default value is 75."
        required: false
        type: "integer"
        x-exportParamName: "Quality"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MsgToJpgResult"
      security:
      - Apikey: []
  /convert/odt/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODT Text File to PDF"
      description: "Convert Office Open Document Text File (ODT) to standard PDF"
      operationId: "ConvertDocument_OdtToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/odt/to/docx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODT Text File to Word DOCX"
      description: "Convert Office Open Document Text File (ODT) to Word DOCX Document"
      operationId: "ConvertDocument_OdtToDocx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/odt/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODT Text File to PNG image array"
      description: "Converts an Office Open Document Text File (ODT) to an array of\
        \ PNG images, one for each page."
      operationId: "ConvertDocument_OdtToPng"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OdtToPngResult"
      security:
      - Apikey: []
  /convert/odt/to/jpg:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODT Text File to JPG/JPEG image array"
      description: "Converts an Open Document Text File (ODT) to an array of JPG/JPEG\
        \ images, one for each page. Customize image quality using quality header."
      operationId: "ConvertDocument_OdtToJpg"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "quality"
        in: "header"
        description: "Optional; Set the JPEG quality level; lowest quality is 1 (highest\
          \ compression), highest quality (lowest compression) is 100; recommended\
          \ value is 75. Default value is 75."
        required: false
        type: "integer"
        x-exportParamName: "Quality"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OdtToJpgResult"
      security:
      - Apikey: []
  /convert/ods/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODS Spreadsheet to PDF"
      description: "Convert Office Open Document Spreadsheet (ODS) to standard PDF"
      operationId: "ConvertDocument_OdsToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/ods/to/xlsx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODS Spreadsheet to XLSX"
      description: "Convert Office Open Document Spreadsheet (ODS) to Excel Spreadsheet\
        \ (XLSX)"
      operationId: "ConvertDocument_OdsToXlsx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/ods/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODS Spreadsheet to PNG image array"
      description: "Converts an Office Open Document Spreadsheet (ODS) to an array\
        \ of PNG images, one for each page."
      operationId: "ConvertDocument_OdsToPng"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OdsToPngResult"
      security:
      - Apikey: []
  /convert/ods/to/jpg:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODS Spreadsheet to JPG/JPEG image array"
      description: "Converts an Open Document Spreadsheet (ODS) to an array of JPG/JPEG\
        \ images, one for each page. Customize image quality using quality header."
      operationId: "ConvertDocument_OdsToJpg"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      - name: "quality"
        in: "header"
        description: "Optional; Set the JPEG quality level; lowest quality is 1 (highest\
          \ compression), highest quality (lowest compression) is 100; recommended\
          \ value is 75. Default value is 75."
        required: false
        type: "integer"
        x-exportParamName: "Quality"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OdsToJpgResult"
      security:
      - Apikey: []
  /convert/odp/to/pdf:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODP Presentation to PDF"
      description: "Convert Office Open Document Presentation (ODP) to standard PDF"
      operationId: "ConvertDocument_OdpToPdf"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/odp/to/pptx:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODP Presentation to PPTX"
      description: "Convert Office Open Document Presentation (ODP) to PowerPoint\
        \ Presentation (PPTX)"
      operationId: "ConvertDocument_OdpToPptx"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "inputFile"
        in: "formData"
        description: "Input file to perform the operation on."
        required: true
        type: "file"
        x-exportParamName: "InputFile"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            title: "OutputContent"
            format: "byte"
            description: "Output file content from the operation"
      security:
      - Apikey: []
  /convert/odp/to/png:
    post:
      tags:
      - "ConvertDocument"
      summary: "Convert ODP Presentation to PNG image array"
      description: "Converts an Office Open Document Presentation (ODP) to an array\
        \ of PNG images, one for each page."
      operationId: "ConvertDocument_OdpToPng"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
[...]
